Package: meshntpd
Version: 0.2
Depends:
Provides:
Source: package/meshntpd
Section: net
Priority: optional
Maintainer: Tim Wilkinson (KN6PLV)
Architecture: all
Description: NTP client which autodetects NTP servers on the mesh
